@model EstoqueWebApp.Models.ProductModel

@{
    ViewData["Title"] = "Editar Produto";
}

<h1>Atualizar Produto</h1>

<h4>Produto: @Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Html.DisplayNameFor(model => model.Name)</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@Html.DisplayNameFor(model => model.Description)</label>
                <textarea asp-for="Description" class="form-control" rows="5" cols="33"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">@Html.DisplayNameFor(model => model.Quantity)</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">@Html.DisplayNameFor(model => model.Price)</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group" style="justify-content: space-around; align-items: center">
                <input type="submit" value="Salvar" class="btn btn-success" />
                | 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="Id">Remover</a>
            </div>
        </form>
    </div>
</div>

<hr />

<div >
    <a class="btn btn-primary" asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
